:root {
    --poster-aspect: 1.7777778;
}
body, button {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

body {
    --action: linear-gradient(180deg, hsl(194 100% 13.7%), hsl(226 51.2% 42%));
--action-hover: linear-gradient(180deg, hsl(193 100% 17.9%), hsl(229 99% 61.5%));
--bg-1: hsl(0 0% 8.6%);
--bg-1-85: hsl(0 0% 8.6% / 85%);
--bg-2: hsl(0 0% 14.900001%);
--bg-3: hsl(0 0% 20%);
--bg-mg: hsl(0 0% 26.699999%);
--checkerboard: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgMTQuOTAwMDAxJSkiIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIgeD0iMCIgeT0iMCIvPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgMTQuOTAwMDAxJSkiIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIgeD0iMzIiIHk9IjMyIi8+CiAgICA8cmVjdCBmaWxsPSJoc2woMCAwJSAyMCUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjAiIHk9IjMyIi8+CiAgICA8cmVjdCBmaWxsPSJoc2woMCAwJSAyMCUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjMyIiB5PSIwIi8+Cjwvc3ZnPgo=");
--d-1: hsl(0 0% 8.6%);
--d-1-15: hsl(0 0% 8.6% / 15%);
--d-1-85: hsl(0 0% 8.6% / 85%);
--d-2: hsl(0 0% 14.900001%);
--d-3: hsl(0 0% 20%);
--danger: linear-gradient(180deg, hsl(336 100% 27.3%), hsl(355 55.699997% 37.1%));
--danger-hover: linear-gradient(180deg, hsl(346 67.7% 48.3%), hsl(352 67% 48.8%));
--fg-1: hsl(0 0% 100%);
--fg-2: hsl(0 0% 78.799995%);
--fg-3: hsl(0 0% 69.8%);
--fg-mg: hsl(0 0% 59.600002%);
--l-1: hsl(0 0% 100%);
--l-1-10: hsl(0 0% 100% / 10%);
--l-2: hsl(0 0% 78.799995%);
--l-3: hsl(0 0% 69.8%);
--mg: hsl(0 0% 53.3%);
--warning-bg: hsl(0 21% 18%);
--warning-fg: hsl(0 0% 100%);

}
body.light {
    --action: linear-gradient(180deg, hsl(194 100% 13.7%), hsl(226 51.2% 42%));
--action-hover: linear-gradient(180deg, hsl(193 100% 17.9%), hsl(229 99% 61.5%));
--bg-1: hsl(0 0% 100%);
--bg-1-85: hsl(0 0% 100% / 85%);
--bg-2: hsl(0 0% 93.3%);
--bg-3: hsl(0 0% 86.7%);
--bg-mg: hsl(0 0% 80%);
--checkerboard: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgOTMuMyUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjAiIHk9IjAiLz4KICAgIDxyZWN0IGZpbGw9ImhzbCgwIDAlIDkzLjMlKSIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIiB4PSIzMiIgeT0iMzIiLz4KICAgIDxyZWN0IGZpbGw9ImhzbCgwIDAlIDg2LjclKSIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIiB4PSIwIiB5PSIzMiIvPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgODYuNyUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjMyIiB5PSIwIi8+Cjwvc3ZnPgo=");
--d-1: hsl(0 0% 0%);
--d-1-15: hsl(0 0% 0% / 15%);
--d-1-85: hsl(0 0% 0% / 85%);
--d-2: hsl(0 0% 15.299999%);
--d-3: hsl(0 0% 26.699999%);
--danger: linear-gradient(180deg, hsl(336 100% 27.3%), hsl(355 55.699997% 37.1%));
--danger-hover: linear-gradient(180deg, hsl(346 67.7% 48.3%), hsl(352 67% 48.8%));
--fg-1: hsl(0 0% 0%);
--fg-2: hsl(0 0% 15.299999%);
--fg-3: hsl(0 0% 26.699999%);
--fg-mg: hsl(0 0% 40%);
--l-1: hsl(0 0% 100%);
--l-1-10: hsl(0 0% 100% / 10%);
--l-2: hsl(0 0% 93.3%);
--l-3: hsl(0 0% 86.7%);
--mg: hsl(0 0% 53.3%);
--warning-bg: hsl(42 100% 90%);
--warning-fg: hsl(0 0% 0%);

}
@supports (color: oklch(0% 0 0)) {
    body {
        --action: linear-gradient(180deg, oklch(45% 0.2 220), oklch(45% 0.14 268));
--action-hover: linear-gradient(180deg, oklch(56% 0.24 220), oklch(56% 0.24 268));
--bg-1: oklch(20% 0 0);
--bg-1-85: oklch(20% 0 0 / 85%);
--bg-2: oklch(26.9% 0 0);
--bg-3: oklch(32% 0 0);
--bg-mg: oklch(38.7% 0 0);
--checkerboard: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgMTQuOTAwMDAxJSkiIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIgeD0iMCIgeT0iMCIvPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgMTQuOTAwMDAxJSkiIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIgeD0iMzIiIHk9IjMyIi8+CiAgICA8cmVjdCBmaWxsPSJoc2woMCAwJSAyMCUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjAiIHk9IjMyIi8+CiAgICA8cmVjdCBmaWxsPSJoc2woMCAwJSAyMCUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjMyIiB5PSIwIi8+Cjwvc3ZnPgo=");
--d-1: oklch(20% 0 0);
--d-1-15: oklch(20% 0 0 / 15%);
--d-1-85: oklch(20% 0 0 / 85%);
--d-2: oklch(26.9% 0 0);
--d-3: oklch(32% 0 0);
--danger: linear-gradient(180deg, oklch(45% 0.2 374), oklch(45% 0.14 380));
--danger-hover: linear-gradient(180deg, oklch(56% 0.2 374), oklch(56% 0.2 380));
--fg-1: oklch(100% 0 0);
--fg-2: oklch(84% 0 0);
--fg-3: oklch(77% 0 0);
--fg-mg: oklch(68% 0 0);
--l-1: oklch(100% 0 0);
--l-1-10: oklch(100% 0 0 / 10%);
--l-2: oklch(84% 0 0);
--l-3: oklch(77% 0 0);
--mg: oklch(62.699997% 0 0);
--warning-bg: oklch(29% 0.03 380);
--warning-fg: oklch(100% 0 0);

    }
    body.light {
        --action: linear-gradient(180deg, oklch(45% 0.2 220), oklch(45% 0.14 268));
--action-hover: linear-gradient(180deg, oklch(56% 0.24 220), oklch(56% 0.24 268));
--bg-1: oklch(100% 0 0);
--bg-1-85: oklch(100% 0 0 / 85%);
--bg-2: oklch(95% 0 0);
--bg-3: oklch(90% 0 0);
--bg-mg: oklch(85% 0 0);
--checkerboard: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgOTMuMyUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjAiIHk9IjAiLz4KICAgIDxyZWN0IGZpbGw9ImhzbCgwIDAlIDkzLjMlKSIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIiB4PSIzMiIgeT0iMzIiLz4KICAgIDxyZWN0IGZpbGw9ImhzbCgwIDAlIDg2LjclKSIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIiB4PSIwIiB5PSIzMiIvPgogICAgPHJlY3QgZmlsbD0iaHNsKDAgMCUgODYuNyUpIiBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHg9IjMyIiB5PSIwIi8+Cjwvc3ZnPgo=");
--d-1: oklch(0% 0 0);
--d-1-15: oklch(0% 0 0 / 15%);
--d-1-85: oklch(0% 0 0 / 85%);
--d-2: oklch(27.2% 0 0);
--d-3: oklch(38.600002% 0 0);
--danger: linear-gradient(180deg, oklch(45% 0.2 374), oklch(45% 0.14 380));
--danger-hover: linear-gradient(180deg, oklch(56% 0.2 374), oklch(56% 0.2 380));
--fg-1: oklch(0% 0 0);
--fg-2: oklch(27.2% 0 0);
--fg-3: oklch(38.600002% 0 0);
--fg-mg: oklch(51% 0 0);
--l-1: oklch(100% 0 0);
--l-1-10: oklch(100% 0 0 / 10%);
--l-2: oklch(95% 0 0);
--l-3: oklch(90% 0 0);
--mg: oklch(62.699997% 0 0);
--warning-bg: oklch(97% 0.06 70);
--warning-fg: oklch(0% 0 0);

    }
}

a {
    color: var(--fg-1);
    text-decoration: none;
}
body {
    background: var(--bg-1);
    color: var(--fg-2);
    margin: 0;
}
button {
    color: var(--fg-2);
    font-size: 1rem;
}
.caption {
    font-weight: 500;
    margin-top: .4rem;
}
.flex { display: flex; }
.flex.align { align-items: center; }
.flex.apart { justify-content: space-between; }
.flex.space { column-gap: .3rem; }
img {
    display: block;
    max-width: 100%;
}
.intro_controls {
    column-gap: .6rem;
    display: flex;
    position: relative;
}
.intro_controls .icon_button {
    align-items: center;
    background: var(--d-1-85);
    border-radius: 50%;
    color: var(--l-2);
    display: flex;
    height: 2.2em;
    justify-content: center;
    opacity: .8;
    width: 2.2em;
}
.intro_controls .icon_button:hover {
    color: var(--l-1);
    opacity: .9;
}
.intro_controls .selector_options { padding-bottom: .8rem; }
.intro_controls .selector_options.right_aligned { right: 0; }
.intro_controls .selector_options:focus-within .selector_options button,
.intro_controls .selector_control.active:hover .selector_options button {
    opacity: .8;
}
.intro_controls .selector_control.active:hover .selector_options button:focus,
.intro_controls .selector_control.active:hover .selector_options button:hover {
    color: var(--l-1);
    opacity: .9;
}
.intro_controls .selector_options:focus-within,
.intro_controls .selector_control.active:hover .selector_options {
    pointer-events: auto;
}
.intro_controls .selector_options button { padding: .9rem .7rem; }
.intro_controls_wrapper {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
}
.intro_heading {
    align-items: center;
    background: var(--l-1);
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
    bottom: 0;
    color: var(--d-1);
    column-gap: .2rem;
    display: flex;
    font-size: .8rem;
    left: 0;
    max-width: 30%;
    opacity: .8;
    padding: .4em .6em;
    position: absolute;
}
.intro_heading:hover { opacity: .9; }
.intro_heading .label {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.intro_heading svg { flex-shrink: 0; }
.outro_playlist_context > a,
.outro_playlist_context > button {
    align-items: center;
    border-radius: .3rem;
    column-gap: 1rem;
    display: flex;
    min-height: 2rem;
    outline: none;
    padding: .25rem 1rem;
    position: relative;
}
.outro_playlist_context > a:focus-visible,
.outro_playlist_context > a:hover,
.outro_playlist_context > button:focus-visible,
.outro_playlist_context > button:hover {
    background: var(--l-1-10);
}
.outro_playlist_context .description {
    align-items: flex-start;
    color: var(--l-1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-right: 1rem;
}
.outro_playlist_context .details {
    color: var(--l-3);
    font-size: .8rem;
}
.outro_playlist_context .label { font-size: .9rem;  }
.outro_playlist_context .number_context {
    background: var(--l-3);
    border-radius: .2rem;
    color: var(--d-1);
    font-size: .8rem;
    margin-bottom: .2rem;
    padding: .15rem .36rem;
}
.outro_playlist_context img {
    aspect-ratio: var(--poster-aspect);
    background: var(--d-1);
    border-radius: .3rem;
    display: block;
    flex-shrink: 0;
    height: 4rem;
    object-fit: contain;
}
.outro_playlist_context .replay_indicator {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -.25rem;
    width: 2rem;
}
.outro_playlist_context .replay_indicator svg { font-size: 1.5rem; }
.outro_playlist_context .title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 min(5%, 3rem) 0;
    text-align: center;
}
.outro_video_context {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
.outro_video_context > button {
    align-items: center;
    column-gap: .3rem;
    display: flex;
}
.player_controls {
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.player_controls button { padding: .9rem .7rem; }
.player_controls .left_playback_controls button:first-child { padding-left: .9rem; }
.player_controls .right_playback_controls button:last-child { padding-right: .9rem; }
.player_controls button svg { font-size: 1.4rem; }
.player_controls .control_pane {
    background: var(--d-1-85);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    font-size: .9rem;
    justify-content: space-between;
}
.player_controls .control_pane button { font-size: .9rem; }
.player_controls .control_pane > div {
    align-items: center;
    display: flex;
}
.player_controls .control_pane input {
    opacity: 0;
    position: absolute;
    width: 100%;
}
.player_controls #select_subtitles {
    align-items: center;
    column-gap: .3rem;
    display: flex;
}
.player_controls .timeline {
    height: .8rem;
    position: relative;
}
.player_controls .timeline * { cursor: pointer; }
.player_controls .timeline .bar {
    bottom: 0;
    height: .3rem;
    pointer-events: none;
    position: absolute;
}
.player_controls .timeline:hover .bar { height: .35rem; }
.player_controls .timeline .bar.backdrop {
    background: var(--d-3);
    width: 100%;
    z-index: 1;
}
.player_controls .timeline .bar.outline {
    width: 100%;
    z-index: 3;
}
.player_controls .timeline input:focus-visible + .bar.outline { outline: 1px solid var(--l-1); }
.player_controls .timeline .bar.progress {
    background: var(--l-1);
    width: 0;
    z-index: 2;
}
.player_controls .timeline input {
    appearance: none;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
.player_intro {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.player_intro,
.player_outro {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.player_outro {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    bottom: 2.9rem;
    overflow-y: auto;
    padding: min(5%, 3rem) 2.5% 2.5% 2.5%;
}
.player_wrapper {
    background: #000;
    border-radius: .5rem;
    color: var(--l-2);
    position: relative;
}
.player_wrapper button {
    background: none;
    border: none;
    color: var(--l-2);
    cursor: pointer;
}
.player_wrapper button:hover { color: var(--l-1); }
.player_wrapper button.dimmed { color: var(--mg); }
.player_wrapper button.dimmed:hover { color: var(--l-3); }
.player_wrapper > *:not(video) { z-index: 1; }
.player_wrapper[data-state="intro"] .player_controls { display: none; }
.player_wrapper:not([data-state="intro"]) .player_intro { display: none; }
.player_wrapper:not([data-state="outro"]) .player_outro { display: none; }
.player_wrapper:not([data-state="outro"]) .player_controls.hidden { display: none; }
.player_wrapper[data-state="outro"] video { opacity: .1; }
.player_wrapper:not(:fullscreen) video { aspect-ratio: var(--video-aspect); }
.reading_width { max-width: 32rem; }
.right_playback_controls { position: relative; }
#speed .x { font-size: .8em; }
.selector_control {
    align-items: center;
    display: flex;
    height: 100%;
}
.selector_options {
    bottom: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding-bottom: .5rem;
    pointer-events: none;
    position: absolute;
    z-index: 4;
}
.selector_options.centered {
    left: 50%;
    transform: translateX(-50%);
}
.selector_options.right_aligned { right: .5rem; }
.selector_options:focus-within,
.selector_control.active:hover .selector_options {
    opacity: 1;
    pointer-events: auto;
}
.selector_options button {
    align-items: center;
    background: var(--d-1-85);
    display: flex;
    white-space: nowrap;
}
.selector_options button:first-child {
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
}
.selector_options button:last-child {
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
}
.selector_options button .active_marker_container {
    height: 1em;
    width: 1em;
}
.selector_options button svg { font-size: 1rem; }
.selector_options button:not(.active) svg { display: none; }
.selector_options button:not(:first-child) { padding-top: .5rem; }
.selector_options button:not(:last-child) { padding-bottom: .5rem; }
svg {
    fill: currentColor;
    display: block;
}
.versions_ring {
    aspect-ratio: 1;
    height: min(20rem, 85%);
    opacity: .9;
    width: auto;
}
.versions_ring circle.backdrop {
    fill: var(--d-1);
    opacity: .9;
}
.versions_ring path { fill: var(--l-1); }
.versions_ring g {
    cursor: pointer;
    opacity: .9;
}
.versions_ring g:focus-visible,
.versions_ring g:hover {
    opacity: 1;
    outline: none;
}
.versions_ring text {
    fill: var(--d-1);
    font-size: 1.3rem;
}
.versions_ring rect.backdrop { fill: var(--l-1); }
.versions_ring text.size {
    fill: var(--d-3);
    font-size: 1rem;
}
.versions_ring.interacting g:not(:focus-visible):not(:hover) { opacity: .5; }
video {
    border-radius: .5rem;
    display: block;
    height: 100%;
    width: 100%;
}
.video {
    color: var(--fg-2);
    display: flex;
    flex-direction: column;
}
.video_title {
    color: var(--fg-1);
    margin: 0;
}
.videos {
    column-gap: 1rem;
    display: flex;
    flex-flow: row wrap;
    row-gap: 1rem;
}
@media (min-height: 25rem) {
    .intro_heading { max-width: 70%; }
}
@media (max-width: 25rem) {
    .outro_playlist_context .details { display: none; }
}
@media (max-width: 30rem) {
    .outro_playlist_context img { display: none; }
}
@media (max-width: 35rem) {
    .outro_playlist_context .replay_indicator { display: none; }
}
@media (max-width: 40rem) {
    .outro_playlist_context img { height: 3rem; }
}
